---
layout: post
title: baz
date: 2022-10-01 23:00:00
author: iolo
tags: [foo, bar, baz, qux]
---
<h1>hello, world</h1>

<p>a post using ejs and front-matter</p>

<pre class="language-js"><code>
console.log('hello,world!');
</code></pre>

may the <b>SOURCE</b> be with you...

