---
layout: post
title: qux
date: 2025-03-10T23:00:00+09
author: iolo
tags: [foo, bar, baz, qux]
---
h1 hello, world

p a post using pug and front-matter

pre.language-js: code.
  console.log('hello,world!');

may the <b>SOURCE</b> be with you...

